<div class="container-fluid footer_border">

</div>

<!-- footer -->
<div ng-if="articles.length > 0 && showArticles" class="container news">

</div>

<div class="container-fluid footer_bg">
    <div class="container footer">

        <div class="newsletter">
            <p style="text-align:right; font-size: 17px; text-transform:uppercase;"><b>Kontakt</b></p>
            <a href="mailto:bok@goprint24.pl?subject=Zapytanie ze sklepu goprint24.pl">bok@goprint24.pl</a>
            <a href="mailto:info@goprint24.pl">info@goprint24.pl</a>
            <form class="newsletter">
                <input type="submit" value=" ">
                <input type="text" placeholder="NEWSLETTER">
            </form>
            <div class="tooltip-footer">
                <i class="fa fa-info-circle"></i>
                <span class="tooltiptext">
                    Wyrażam zgodę na przetwarzanie moich danych osobowych przez Sprzedawcę (Copy Net, ul. Solidarności 9, 25-323 Kielce) w zakresie niezbędnym do prowadzenia marketingu produktów i usług Sprzedawcy zgodnie z ustawą z dnia 29.08.1997 r. o ochronie danych osobowych (Dz. U. z 2002 e., Nr 101, poz. 926 ze zm.). Oświadczam, że zostałem poinformowany, iż pszysługuje mi prawo dostępu do treści moich danych oraz możliwość ich poprawiania, a także, że podanie danych jest dobrowolne.
                </span>
            </div>
        </div>

        <div class="address">
            <p><b>GOPRINT24.PL</b><br />
                Drukarnia: Copy Net<br />
                ul. Solidarności 9&nbsp;&nbsp;|&nbsp;&nbsp;25 - 323 Kielce<br />
                <span class="text-small">
                    tel. +48 41 344 50 70&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:bok@goprint24.pl?subject=Zapytanie ze sklepu goprint24.pl">bok@goprint24.pl</a><br /><br />
                </span>
                <a class="footer_icon" href="http://copynet.digitalprint.pro/pl/strona/terminy-realizacji">
                    <img src="https://static.digitalprint.pro/684/styles/footer_24_7.png">
                </a>
                <a ui-sfer="free-delivery" class="footer_icon" href='/pl/strona/free-delivery'>
                    <img src="https://static.digitalprint.pro/684/styles/footer_darmowa_dostawa.png">
                </a>
                <a href="https://www.facebook.com/copynet.kielce/?fref=ts" class="footer_icon">
                    <img src="http://copynet.pl/images/templatka/ico3.jpg">
                </a>
            </p>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <a href="/pl/regulamin">Regulamin</a>
                </li>
                <li>
                    <a href="/pl/polityka-prywatnosci">Polityka Prywatności</a>
                </li>
                <li>
                    <a href="/pl/formy-platnosci">Formy płatności</a>
                </li>
                <li>
                    <a href="/pl/regulamin#reklamacja-produktu">Reklamacje</a>
                </li>
                <li>
                    <a href="/pl/terminy-realizacji">Terminy realizacji</a>
                </li>
                <li>
                    <a href="/pl/prace-niestandardowe">Prace niestandardowe</a>
                </li>
                <li>
                    <a href="/pl/przygotowanie-plikow">Przygotowanie plików</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="ssl-img">
        <img src="https://static.digitalprint.pro/684/images/certum_logo_new.png" alt="Certum Commercial Wildcard" title="Certum Commercial Wildcard" />
    </div>
    <div class="clearfix"></div>
</div>

<!--<div class="container bg_bottom">
    <img src="https://static.digitalprint.pro/684/styles/stopka_background.jpg" alt="" title="" />
</div>-->

<div ng-cookie-information=""></div>

<div class="scroll-to-top" ng-click="scrollToTop();">
    <i class="fa fa-arrow-circle-o-up"></i>
</div>
<!-- koniec footer -->

<!-- CUSTOM JS -->
<script>
    $(function ()
    {
        var targets = $('[rel~=tooltip]'),
                target = false,
                tooltip = false,
                title = false;

        targets.bind('mouseenter', function ()
        {
            target = $(this);
            tip = target.attr('title');
            tooltip = $('<div id="tooltip"></div>');

            if (!tip || tip == '')
                return false;

            target.removeAttr('title');
            tooltip.css('opacity', 0)
                    .html(tip)
                    .appendTo('body');

            var init_tooltip = function ()
            {
                if ($(window).width() < tooltip.outerWidth() * 1.5)
                    tooltip.css('max-width', $(window).width() / 2);
                else
                    tooltip.css('max-width', 340);

                var pos_left = target.offset().left + (target.outerWidth() / 2) - (tooltip.outerWidth() / 2),
                        pos_top = target.offset().top - tooltip.outerHeight() - 20;

                if (pos_left < 0)
                {
                    pos_left = target.offset().left + target.outerWidth() / 2 - 20;
                    tooltip.addClass('left');
                } else
                    tooltip.removeClass('left');

                if (pos_left + tooltip.outerWidth() > $(window).width())
                {
                    pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
                    tooltip.addClass('right');
                } else
                    tooltip.removeClass('right');

                if (pos_top < 0)
                {
                    var pos_top = target.offset().top + target.outerHeight();
                    tooltip.addClass('top');
                } else
                    tooltip.removeClass('top');

                tooltip.css({left: pos_left, top: pos_top})
                        .animate({top: '+=10', opacity: 1}, 50);
            };

            init_tooltip();
            $(window).resize(init_tooltip);

            var remove_tooltip = function ()
            {
                tooltip.animate({top: '-=10', opacity: 0}, 50, function ()
                {
                    $(this).remove();
                });

                target.attr('title', tip);
            };

            target.bind('mouseleave', remove_tooltip);
            tooltip.bind('click', remove_tooltip);
        });
    });
</script>
<!-- CUSTOM JS END -->