<div class="container" id="content-custom-product">


    <div class="row" id="row-product-description">
        <div class="col-xs-12">
            <div class="border-h1">
                <h1 class="page-header custom">{{ 'create_custom_query' | translate }}</h1>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!formSent">
        <div class="col-md-4 photo">
            <img src="https://static.digitalprint.pro/684/styles/nietypowe.png" />
        </div>
        <div class="col-md-8">
            <div ng-static-contents class="staticContentBox" content="static.customProduct"></div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2">
            <div class="form">
                <form class="form-horizontal ng-pristine ng-valid" ng-submit="save();">
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'name' | translate }} *</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="form.name" class="form-control" name="name" placeholder="{{ 'name' | translate }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'put_description' | translate }} *</label>
                        <div class="col-md-9">
                            <textarea ng-model="form.content" class="form-control" rows="8" placeholder="{{ 'content' | translate }}" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'add_files' | translate }}</label>
                        <div class="col-md-9">
                            <input class="btn btn-lg btn-primary btn-block" type="file" multiple nv-file-select uploader="uploader" />
                            <br/>
                        </div>
                        <div class="col-md-3">
                            <span class="upload_text">
                                {{ 'upload_text' | translate }}
                            </span>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group">
                                <li ng-repeat="item in uploader.queue" class="list-group-item">
                                    <span ng-bind="item.file.name"></span>
                                    <div class="pull-right">
                                        <span class="element-margin-right" ng-bind="formatSizeUnits(item.file.size)"></span>
                                        <button type="button" ng-click="removeFile(item)" class="btn btn-xs btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
                                    <span class="text-center">{{uploadProgress}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="logged" class="form-group">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-success btn-block btn-submit">{{ 'save' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div ng-if="!logged">

            <div class="col-md-6 col-md-offset-3">
                <h4 class="text-right">{{ 'login_to_perform_this_action' | translate }}</h4>

                <form class="form-horizontal" ng-submit="login(credentials)" method="post">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="user-email">{{ 'login' | translate }}</label>
                        <div class="col-md-8">
                            <input ng-keyup="$event.keyCode == 13 ? login(credentials) : null" class="form-control" type="text" placeholder="{{ 'login' | translate }}"
                                name="email" ng-model="credentials.email" required id="user-email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="user-password">{{ 'password' | translate }}</label>
                        <div class="col-md-8">
                            <input ng-keyup="$event.keyCode == 13 ? login(credentials) : null" class="form-control" type="password" placeholder="{{ 'password' | translate }}"
                                name="password" ng-model="credentials.password" required id="user-password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button data-toggle="submit" type="submit" class="btn btn-success btn-block btn-submit btn-login">
                                {{ 'log_in' | translate }}
                            </button>
                            <hr> {{ 'did_you_forget_your_password' | translate }}
                            <a ui-sref="password-remind" tooltip="{{ 'forgot_password' | translate }}">{{ 'password_remind' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    <div class="row" ng-if="formSent">
        <div class="col-md-offset-2 col-md-8">
            <div class="alert alert-info">
                {{ 'custom_query_confirmed' | translate }} - {{ 'custom_query_confirmed_2' | translate }} #{{ customProduct.ID }}<br /><br />
                {{ 'custom_query_confirmed_3' | translate }}
            </div>
        </div>
    </div>
</div>