<!-- kategoria produktów -->

<div class="container-fluid bordtop" style="border-top:none">

    <div class="row menu-magenta">
        <div class="col-xs-12 rwd_main">
            <div ng-if="!_.isEmpty(startCategories)" class="btn-group-vertical">
                <button ng-click="setActiveMainButton()" ng-class="{active: mainButtonActive}" class="btn magenta-active btn-default">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="btn-magenta btn-group-vertical" ng-repeat="item in items| orderBy: 'sort'">
                <span ng-if="$first && _.isEmpty(startCategories)" ng-init="setActiveCategory(item)"></span>
                <button ng-click="setActiveCategory(item)" ng-class="{active: activeCategoryID == item.ID}" class="btn magenta btn-default">{{ item.langs[currentLang.code].name}}</button>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="row" ng-repeat="item in items| orderBy: 'sort'">
                <div ng-show="activeCategoryID == item.ID || (_.contains(startCategories, item.ID) && mainButtonActive)" class="col-xs-12">
                    <div class="border-h2">
                        <h2 class='second-title'>
                            {{ item.langs[currentLang.code].name}}
                        </h2>
                    </div>

                    <div ng-show="activeCategoryID == item.ID || (_.contains(startCategories, item.ID) && mainButtonActive)" class="col-md-12">
                        <div class='col-xs-12 no-padding opis-kategorii'>
            
                            <accordion>
                                <accordion-group ng-repeat="description in item.descriptions | orderBy: 'order' " is-open="description.isOpen">
                                    <accordion-heading>
                                        {{ description.langs[currentLang.code].name }}
                                        <i class="pull-right fa"
                                           ng-class="{'fa-chevron-down': status.open, 'fa-info-circle': !status.open}"></i>
                                    </accordion-heading>
                                    <div ng-bind-html="description.langs[currentLang.code].description"></div>
                                </accordion-group>
                            </accordion>
            
                        </div>
            
                        <div class="col-xs-12 no-padding" ng-repeat="gallery in item.galleries | orderBy: 'order' | filter:hasFormats " ng-if="gallery.items.length > 0">
            
                            <h4 class='product-view'>{{ gallery.langs[currentLang.code].name }}</h4>
                            <div class='product-gallery-content'>
                                <ng-gallery images="gallery.items" thumbs-num="gallery.items.length">
                                </ng-gallery>
                            </div>
            
                        </div>
                    </div>

                    <div class="row products-list">
                        <div class="product-list-rwd">
                            <div class="col-xs-4 col-sm-4 col-md-3 product" ng-repeat="child in item.childs| orderBy: 'sort'">
                                <a class="icon-box" ui-sref="category({categoryurl: child.langs[currentLang.code].url})">
                                    <div class="product-list-image">
                                        <div ng-show="child.icons[currentLang.code]" data-ng-bind-html="child.icons[currentLang.code]"></div>
                                        <img ng-show="!child.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" />
                                    </div>
                                </a>
                                <!-- <div class="product-list-title">{{ child.langs[currentLang.code].name }}</div> -->
                                <!-- <div class="product-list-excerpt">{{ child.description }}</div> -->
                                <!-- <a ui-sref="category({categoryurl: child.langs[currentLang.code].url})" class="product-list-link">{{ 'show_more' | translate }}</a> -->
                                <a ui-sref="category({categoryurl: child.langs[currentLang.code].url})" class="product-list-link">{{ child.langs[currentLang.code].name}}</a>
                                <!--<div class="product-list-price">
                                        {{ 'only_now_price_from' | translate }} 10{{ 'currency' | translate }}
                                </div>-->
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3 product index_col_{{ item.ID }}_{{$index}}" ng-repeat="product in products[item.ID]| orderBy: 'sort'">
                                <div class="thumbnail clearfix" ng-if="product.relType == 1">
                                    <div class="transform">
                                        <a target="_self" class="thumbnail-link" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})"
                                            class="product-list-link" ng-if="!product.icons[currentLang.code] && !product.icon">
                                            <img ng-show="!product.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive"
                                            />
                                        </a>
                                        <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})">
                                            <img ng-if="product.icon" src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail clearfix" ng-if="product.relType == 2 && !product.isEditor && !product.isCustomProduct">
                                    <img class="promotion-icon img-responsive" ng-if="product.promotion.icon" src="{{product.promotion.icon.url}}" alt="" />
                                    <div class="transform">
                                        <a target="_self" class="thumbnail-link" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                                            groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})"
                                            ng-if="!product.icons[currentLang.code] && !product.icon">
                                            <img ng-if="!product.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive"
                                            />
                                        </a>
                                        <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                                            groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                            <img ng-if="product.icon" src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        </a>
                                    </div>
                                </div>

                                <div class="thumbnail clearfix" ng-if="product.relType == 2 && product.isEditor && !product.isCustomProduct">
                                        <img class="promotion-icon img-responsive" ng-if="product.promotion.icon" src="{{product.promotion.icon.url}}" alt="" />
                                    <div class="transform">
                                        <a target="_self" class="thumbnail-link" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                                    groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})"
                                            ng-if="!product.icons[currentLang.code] && !product.icon">
                                            <img ng-if="!product.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive"
                                            />
                                        </a>
                                        <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                                    groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                            <img ng-if="product.icon" src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnail clearfix" ng-if="product.relType == 2 && !product.isEditor && product.isCustomProduct">
                                        <img class="promotion-icon img-responsive" ng-if="product.promotion.icon" src="{{product.promotion.icon.url}}" alt="" />
                                    <div class="transform">
                                        <a target="_self" class="thumbnail-link" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})"
                                            ng-if="!product.icons[currentLang.code] && !product.icon">
                                            <img ng-if="!product.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive"
                                            />
                                        </a>
                                        <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                                           groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                            <img ng-if="product.icon" src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        </a>
                                    </div>
                                </div>

                                <!-- <div class="product-list-title">{{ product.names[currentLang.code] }}</div> -->
                                <!--
                                <div class="product-list-image">
                                        <div ng-show="product.icons[currentLang.code]" data-ng-bind-html="product.icons[currentLang.code]" ></div>
                                        <img ng-show="!product.icons[currentLang.code]" src="{{STATIC_URL}}{{companyID}}/images/productholder.png" />
                                </div>
                                <div class="product-list-title">{{ product.names[currentLang.code] }}</div>
                                -->
                                <!-- <div class="product-list-excerpt">{{ product.description }}</div> -->

                                <span ng-if="product.relType == 1">
                                    <!-- <a ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupid: product.ID})" class="product-list-link">{{ 'show_more' | translate }}</a> -->
                                    <a ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupid: product.ID})" class="product-list-link">{{ product.names[currentLang.code]}}</a>
                                </span>
                                <span ng-if="product.relType == 2">
                                    <!-- <a ui-sref="calculate({categoryurl: item.langs[currentLang.code].url, groupid: product.groupID, typeid: product.ID})" class="product-list-link">{{ 'show_more' | translate }}</a> -->
                                    <a ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" class="product-list-link">{{ product.names[currentLang.code]}}</a>
                                </span>
                                <!--<div class="product-list-price">
                                            {{ 'only_now_price_from' | translate }} 10{{ 'currency' | translate }}
                                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- koniec produkty polecane -->
<div class="container-fluid boxy_pi ">
    <div class="container moj_c ">
        <div class="width1 eco ">
            <a ui-sref="druk-eco " class="link " alt="Druk ECO " title="Druk ECO ">&nbsp;</a>
        </div>
        <div class="width2 rabat ">
            <a ui-sref="rabat-pierwszy-koszyk " class="link " alt="Rabat na pierwszy koszyk" title="Rabat na pierwszy koszyk ">&nbsp;</a>
        </div>
        <div class="width1 program ">
            <a ui-sref="program-partnerski " class="link " alt="Program Partnerski " title="Program Partnerski ">&nbsp;</a>
        </div>
        <div class="width1 termin ">
            <a ui-sref="terminy-realizacji " class="link " alt="Terminy realizacji " title="Terminy realizacji ">&nbsp;</a>
        </div>
    </div>
</div>
<!-- net^^atak -->